body{
    color:#fff;
    background-color: #000;
}
.wrapper{
    width:980px;
    margin:0 auto;
}

header{
    background-color: #1a1a1a;
    height: 100px;
}
header img{
    float:left;
    padding: 0 10px 10px 10px;
}
header h1{
    color:#fff;
    padding-top:50px;
}

#dashboard-main{
    background-color: #4d4d4d;
    min-height: 500px;
}

#dashboard-side{
    background-color: #4d4d4d;
    min-height: 500px;
}
input[type=text], input[type=password]{
    background-color: #999;
}
#login{
    border-right: 1px solid white;
    min-height: 350px;
}



/*------------Dashboard-------------------------*/
/* This is to hide the 'error and success notes' */

.hide{
    display: none;
}

.todo_complete{
    color:dimgray;
}

.nav-tabs > li > a{
    background-color: #262626;
    border: 1px solid #333;


}
#show{
    background-color: #262626;
}